.flat-modal {

  &__layout-image {
    background-color: $color-gray-extra-light;
    width: 100%;
    min-height: 260px;
    max-height: 360px;
    height: 300px;
    border-radius: 16px;
    overflow: hidden;

    object-fit: contain;

    @include adaptiveSm {
      min-width: 360px;
    }
  }

  &__title {

  }

  &__footer {
    @include flexibleRow(8px, flex-end, space-between);
  }
}
