
.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.25);
  padding: 16px 16px 0;

  @include flexible(center, flex-end, column);

  transition: $transition;

  @include adaptiveSm {
    padding: 16px;

    @include flexible(center, center, column);
  }

  &--hide {
    background-color: transparent;
    pointer-events: none;
  }
}

.modal {
  width: 100%;
  background-color: $color-white;
  padding: 16px;
  border-radius: 16px 16px 0 0;
  overflow-y: auto;

  @include flexibleColumn(8px);

  opacity: 1;
  transition: $transition;

  @include adaptiveSm {
    width: max-content;
    border-radius: 16px;
  }

  &--hide {
    opacity: 0;
  }
}
