$sidebar-size: 400px;

.main-page {
  flex: 1 0;

  @include flexibleRow(8px, stretch);

  &__filters {
    position: relative;
  }

  &__content {
    flex: 1 0;
  }

  &__active-flat {
    min-width: 400px;
  }
}

