@mixin gap($value: 0) {
  gap: $value;
}

@mixin flexible($ai: normal, $jc: normal, $fd: row, $gap: 0) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;
  flex-direction: $fd;

  @include gap($gap);
}

@mixin flexibleRow($gap: 0, $ai: normal, $jc: normal) {
  @include flexible($ai, $jc, row, $gap);
}

@mixin flexibleColumn($gap: 0, $ai: normal, $jc: normal) {
  @include flexible($ai, $jc, column, $gap);
}
