.page-layout {
  min-height: 100%;

  @include flexibleRow(8px);

  &__content {
    z-index: 0;
    flex: 1 0;
  }

  &__left-bar {
    z-index: 1;
    position: relative;
  }

  &__right-bar {
    z-index: 1;
    position: relative;
  }
}
